<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>NotebookSPA0</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>		
		<welcome-file>index.jsp</welcome-file>		
	</welcome-file-list>
	<filter>
		<filter-name>CrossDomainFilter</filter-name>
		<filter-class>filter.CrossDomainFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CrossDomainFilter</filter-name>
		<url-pattern>/servlet/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>ItemAddServlet</servlet-name>
		<servlet-class>servlet.ItemAddServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ItemListServlet</servlet-name>
		<servlet-class>servlet.ItemListServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ItemGetServlet</servlet-name>
		<servlet-class>servlet.ItemGetServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ItemUpdateServlet</servlet-name>
		<servlet-class>servlet.ItemUpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserSigninServlet</servlet-name>
		<servlet-class>servlet.UserSigninServlet</servlet-class>
	</servlet>
  <servlet>
    <servlet-name>ItemDeleteServlet</servlet-name>
    <servlet-class>servlet.ItemDeleteServlet</servlet-class>
  </servlet>

	<servlet-mapping>
		<servlet-name>ItemAddServlet</servlet-name>
		<url-pattern>/servlet/ItemAddServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ItemListServlet</servlet-name>
		<url-pattern>/servlet/ItemListServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ItemGetServlet</servlet-name>
		<url-pattern>/servlet/ItemGetServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ItemUpdateServlet</servlet-name>
		<url-pattern>/servlet/ItemUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserSigninServlet</servlet-name>
		<url-pattern>/servlet/UserSigninServlet</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>ItemDeleteServlet</servlet-name>
    <url-pattern>/servlet/ItemDeleteServlet</url-pattern>
  </servlet-mapping>
</web-app>